:global(body) {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    line-height: 1.5;
    padding: 10px;
    min-height: 500px;
}

.container {
    max-width: 340px;
    min-width: 340px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.button-container {
    display: flex;
    justify-content: normal;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 3px 6px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 3px;
}

.button-container button:hover {
    background-color: #0056b3;
    outline: 3px solid #ffbf47;
    outline-offset: 2px;
}

.button-container button:focus {
    background-color: #0056b3;
    outline: 3px solid #ffbf47;
    outline-offset: 2px;
}

.button:focus {
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 0 0 3px #ffbf47;
    border-radius: 4px;
    outline: none;
}

.button:hover {
    background-color: #0056b3;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.tag {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px;
    font-size: 13px;
}

.tag:focus,
.tag:hover {
    background-color: #dae0e5;
    outline: 3px solid #ffbf47;
    outline-offset: 2px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.tag-marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

li a {
    flex-grow: 1;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li:last-child {
    border-bottom: none;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:focus,
a:hover {
    padding: 4px;
    text-decoration: underline;
    outline: 3px solid #1372e6;
    outline-offset: 2px;
    border-radius: 4px;
    background-color: #eef;
}

.deleteButton {
    flex-shrink: 0;
    width: 50px;
    background-color: #f95161;
    color: white;
    border: 2px solid transparent;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.deleteButton:focus,
.deleteButton:hover {
    background-color: #b31b2a;
    border-color: #b31b2a;
    outline: 3px solid #ffbf47;
    outline-offset: 2px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    cursor: pointer;
}

.page-button:hover,
.page-button.active {
    background-color: #dae0e5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes glow {
    0%,
    100% {
        box-shadow: 0 0 5px rgb(37, 150, 255);
    }
    50% {
        box-shadow: 0 0 15px rgb(37, 150, 255);
    }
}

.new-item {
    animation: fadeIn 1s ease;
}

.blink-item {
    position: relative;
    z-index: 1;
    animation: glow 2s ease infinite;
    padding: 10px;
    margin: -10px;
}

.icon-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icon-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.speed-dial-grid {
    padding-top: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35px , 1fr));
    gap: 10px;
    background: transparent;
    padding-bottom: 20px;
}
  
.speed-dial-item {
    position: relative;
    padding: 0;
    border: none;
    background: none;
}

.speed-dial-icon {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.delete-dial-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    border-radius: 50%;
}
  
.speed-dial-item:focus-within .speed-dial-icon,
.speed-dial-item:hover .speed-dial-icon {
    outline: 3px solid #ffbf47;
    outline-offset: 2px;
}
  
.speed-dial-item:focus-within .delete-dial-button,
.speed-dial-item:hover .delete-dial-button {
    display: block;
}

.delete-dial-button {
    display: none;
}

.page-button.active {
    background-color: #007bff;
    color: white;
}
